{% extends 'blogapp/base.html'%}
{% block content %}
    <article class="content-section">
        <img class="rounded-circle article-img" src="{{object.author.profile.image.url}}" alt="profile Pic">
        <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2" href="{% url 'user-posts' object.author.username %}">{{object.author}} </a>
                <small class="text-muted">{{object.date_posted|date:"F d, Y"}}</small>
            {% if object.author == user %}
                <div>
                <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'post-update' object.id %}">Update</a>
                <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'post-delete' object.id %}">Delete</a>
                </div>
            {% endif %}
            </div>
        <h2 class="article-title">{{object.title}}</h2>
        <p class="article-content">{{object.content}}</p>
        <div id="lc{{post.id}}">
            <button id="like{{object.id}}" data-catid="{{object.id}}" class="btn btn-primary" type="button">
            <span id='like_count{{object.id}}'>{{object.likes.count}}</span> Like{{object.likes.count|pluralize}}
            </button>
            <a href="#" class="btn btn-primary" id="comnt">{{post.comments.count}} comment</a>
        </div>
        {% if user.is_authenticated %}
            <div class="form-group">
                <label class='text-muted'>Comment Here</label>
                <textarea class="form-control" id="new_com" placeholder="write your comment here!"></textarea>
                <button type="submit" class="btn btn-primary mt-2" id='new_com_sub'>Submit Comment</button>
            </div>
            {% else %}
                <a href="{% url 'login' %}?next={% url 'post-detail' object.id %}">Login to comment</a>
            {% endif %}
        {% if object.comments.all %}
                <div id='cmt_box' class='content-section bg-light pl-5 pr-5'>
            {% for coment in object.comments.all %} 
                <a href=""><u><em>{{coment.comment_by.username}}</em></u></a>
                <span class="text-muted text-right">at {{coment.date_cmt|time:'P'}} on {{coment.date_cmt|date:'d M Y'}} </span>
                <p class="secondry">{{coment.msg}}</p>
            {% endfor %}
                </div>
            {% else %}
                <div class='border-box'>
                    <span class="text-muted">There are no comments now ! </span>
                </div>   
        {% endif%}
            
        </div>
      
    </article>
{% endblock %}

{% block script %}
        <script>
            $('#new_com_sub').click(function(){
                var post_id = {{object.id}};
                var msg = $('#new_com').val();
                $.ajax({
                    type: 'GET',
                    url : '{% url "coment" %}',
                    data :{
                        'post_id': post_id,
                        'msg': msg
                    },
                    dataType:'json',
                    success:function(){
                        window.location.reload();
                    }
                });
                
            });
        </script>

        {% if user.is_authenticated %}
            <script>
                $('#like{{object.id}}').click(function(){
                var post_id = {{ object.id }};
                    $.ajax({
                        type: 'GET',
                        url : '{% url "like" %}',
                        data : {
                            'post_id': post_id,
                        },
                        dataType:'json',
                        success:function(data){
                            $('#like_count{{object.id}}').html(data.like_count);
                        }
                    });
                });
            </script>
        
        {% else %}
            <script>
                $('#like{{object.id}}').click(function(){
                    $('#lc{{object.id}}').append('<br><a href="{% url 'login' %}?next=/">You must Login</a>');
                });
            </script>
        {% endif %}
{% endblock%}